.body{
    min-width: 1800px;
}
.team-img{
    width: 27%;
    margin: auto;
    aspect-ratio: 1;
    border-radius: 50%;
    margin-top: 5px;
    max-width: 70px;
}
.team-img2{
    width: 20%;
    margin: auto;
    aspect-ratio: 1;
    border-radius: 50%;
    margin-bottom: 10px;
    max-width: 50px;
}
@media screen and (max-width: 767px) {
    .team-img{
        width: 17%;
        margin: auto;
        aspect-ratio: 1;
        border-radius: 50%;
        margin-top: 5px;
    }
    .team-img2{
        width: 10%;
        margin: auto;
        aspect-ratio: 1;
        border-radius: 50%;
        margin-bottom: 10px;
    }
}
.team-img3{
    box-sizing: border-box;
    margin-bottom: 15px;
    width: 70%;
}
.ml-5{
    margin-left: 5px;
}

.w-dyn-item{
    position: relative;
}
.ml-10{
    margin-left: 5px;
    position: absolute;
    top: 50%;
    transform: translate(0,-30%);
    margin-bottom: 0;
}
h6{
    font-size: 13.5px;
    line-height: 14px;
    margin-bottom: 25px;
   font-weight: 600;
}
.lider{
    font-size: 16px;
    font-weight: 700;
    
}
.lider-tag{
    width: 100%;
    text-align: left;
    font-size: 17px;
    
}
.fraction{
    font-size: 11.5px;
    font-weight: 500;
}
.spot .fraction{
    font-size: 13.5px;
    font-weight: 700;
    margin-bottom: 0;
    display: none;
}
.w-col-3 {
    width: 30%;
}
.w-col-9 {
    min-width: 70%;
    width: auto;
}
.grey-rule2{
    width: 80%;
}
.grey-rule3{
    width: 100%;
}
.team-description{
    margin-top: 0px;
}
.inte-n{
    pointer-events: none;
    color: purple;
    font-weight: 600;
}

.w-dyn-item:has(.team-img4){
    max-width: 45%;
    display: inline-block;
}   
.team-img4{
    aspect-ratio: 1;
    max-height: 100px;
}
.blog-image{
    object-fit: contain;
    width: 80%;
    max-width: 80%;
    padding: 10px;
    aspect-ratio: 1;
    background-size: contain;
    background-position: center;
    
}
.menu-button{
    padding: 0;
}
.site-name{
    margin: 0;
    font-size: clamp(20px, 2rem,2dvw);
}
a:has(.site-name){
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.w-container{
    max-width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}
@media screen and (max-width: 767px) {
    .team-img{
        width: 17%;
        margin: auto;
        aspect-ratio: 1;
        border-radius: 50%;
        margin-top: 7px;
        
    }
    .team-img2{
        width: 13%;
        margin: auto;
        aspect-ratio: 1;
        border-radius: 50%;
        margin-bottom: 10px;
    }
    .mt-30{
        margin-top: 25px;
    }
    .w-col-9 {
        min-width: 80%;
        width: auto;
        position: absolute;
        left: 50%;
        transform: translate(-50%,0);
    }
    .team-img4{
        aspect-ratio: 1;
        
        max-height: 70px;
        display: inline-block;
    }
    .grey-rule{
        margin: 10px 0 10px 0;
    }
    .circle-profile{
        margin: 0 auto 5px auto;
        min-width: 50%;
    }
    .site-description{
        margin: 5px;
    }
    .navigation-link{
        margin: 0;
    }
    .blog-image{
        width: 100%;
        max-width: 100%;
    }
}