.team-img{
    width: 27%;
    margin: auto;
    aspect-ratio: 1;
    border-radius: 50%;
    margin-top: 5px;
}
.team-img2{
    width: 20%;
    margin: auto;
    aspect-ratio: 1;
    border-radius: 50%;
    margin-bottom: 10px;
}
.ml-5{
    margin-left: 5px;
}
.w-dyn-item{
    position: relative;
}
.ml-10{
    margin-left: 5px;
    position: absolute;
    top: 50%;
    transform: translate(0,-30%);
    margin-bottom: 0;
}
h6{
    font-size: 13.5px;
    line-height: 14px;
    margin-bottom: 25px;
   font-weight: 600;
}
.lider{
    font-size: 16px;
    font-weight: 700;
    
}
.lider-tag{
    width: 100%;
    text-align: left;
    font-size: 17px;
    
}
.fraction{
    font-size: 11.5px;
    font-weight: 500;
}
.spot .fraction{
    font-size: 13.5px;
    font-weight: 700;
    margin-bottom: 0;
    display: none;
}
.w-col-3 {
    width: 30%;
}
.w-col-9 {
    width: 70%;
}
.grey-rule2{
    width: 80%;
}
.grey-rule3{
    width: 100%;
}
.team-description{
    margin-top: 0px;
}
.inte-n{
    pointer-events: none;
    color: purple;
    font-weight: 600;
}

.w-dyn-item:has(.team-img4){
    max-width: 45%;
    display: inline-block;
}   
.team-img4{
    aspect-ratio: 1;
}